$backgroundColor: beige;



section {
  background: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: medium;
  padding-left: 30px;
  margin: 50px;
  border: 1px solid black;
  overflow: scroll;   
  }